<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav pull-right nav-pills">
          <li><%= link_to "Home", explorer_home_path %></li>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
      </ul>
      <button id="coffee">Coffee</button>
      <button id ="bars">Bars</button>
      <button id="trending">Trending</button>
      <button id="food">Food</button>
      <button id="shops">Shops</button>
      <button id="arts">Arts</button>
      <button id="outdoors">Outdoors</button>
      <button id="sights">Sights</button>
      <button id="topPicks">Top Picks</button>
      <button id="showFavoritesButton">Favorite Locations</button>
      <button id="faveCitiesButton">Favorite Cities</button>
      <button id="showMap">Show Map</button>

     <div class="container">
    </div>
  </div>
</header>